<html>
  <% include partials/head.ejs %>

  <% include partials/header.ejs %>

  <body>
    Found <%= data.length %> results for "<%= searchTerm %>"
    <div class="images-container">
      <% let tags = [] %>
      <% let tagsCombined = [] %>
      <% let count = 0 %>
    <% for (let [index,value] of data.entries()) { %>
      <% let image = {image:`${webSite}${value.directory}/${value.image}`,id: `${index}`, tags: `${value.tags}`}%>
        <% let poop = `https://safebooru.org/thumbnails/${value.directory}/thumbnail_${value.image}`; %>
        <div class="image-container">
          <form class="add" action="/saved" method="POST">
            <input class="save" type="text" name="tags" value="<%= image.tags %>" />
            <input class="save" type="text" name="image" value="<%= image.image %>" />
            <input class="save" type="text" name="id" value="<%= image.id %>" />
            <input class="save" type="text" name="count" value= "<%= count %>" />
            <input class="display-image" type="image" src="<%=poop%>" value="save" />
          </form>

        </div>

      <% count++; %>
    <% } %>
    <script src="js/stopform.js"> </script>
  </div>

  </body>
</html>
