<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    Found <%= data.length %> results for <%= searchTerm %>
    <div class="images-container">
      <% let tags = [] %>
      <% let tagsCombined = [] %>
    <% for (let [index,value] of data.entries()) { %>
      <% let image = {image:`${webSite}${value.directory}/${value.image}`,id: `${index}`, tags: `${value.tags}`}%>
        <% let poop = `${webSite}${value.directory}/${value.image}`; %>

        <div class="image-container">
          <a href=" <%= `/search/saved/${image.id}` %>" name="selected">
          <img width="300px" src="<%= image.image%>">
          </a>
          <form action="/search/saved" method="POST">
          <input class="save" type="text" name="tags" value="<%= image.tags %>" />
            <input class="save" type="text" name="image" value="<%= image.image %>" />
            <input class="save" type="text" name="id" value="<%= image.id %>" />
            <input type="submit" value="save" />
          </form>
        </div>



        <% tags = value.tags.split(" ") %>
        <% for (let i = 0; i < tags.length; i++) { %>
          <% if(tagsCombined.indexOf(tags[i]) == -1){ %>
          <%  tagsCombined.push(tags[i]) %>
        <%   } %>
      <%  } %>
    <% } %>
  </div>
  <div class="tags">
    Current tags:
    <% for (let i = 0; i < tagsCombined.length; i++) { %>
      <%= tagsCombined[i]; %>
    <%} %>
  </div>
  <a href="/search/saved"<p>saved</p></a>
  </body>
</html>
